<nav class="flex items-center justify-between p-2 border-b fixed top-0 left-0 w-full bg-white z-20">
    <div>
        <h2 class="text-2xl font-semibold">Storiez</h2>
    </div>
    <div>
        <ul class="flex justify-between gap-5 items-center">
            <li>
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="/people">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div>
        {% if session['email'] %}
            {% set avatar = session['name'].strip()[0].split()[0] %}
            <div class="flex items-center gap-2">
                <a href="/logout" class="text-red-700 font-semibold">Logout</a>
                <h2 class="cursor-pointer    text-2xl text-gray-900 border border-gray-400 font-semibold uppercase bg-gray-300 rounded-full h-10 w-10 flex items-center justify-center">{{avatar}}</h2>
            </div>
        {% else %}
            <h2 class="font-xl font-semibold">User</h2>
            <a href="/login" class="text-red-700 font-semibold">Login</a>
        {% endif %}
    </div>
</nav>