<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/head.html' %}
        <title>Create Account</title>
    </head>
<body class="w-full md:h-screen flex">
    <div class="m-auto  md:w-5/12 p-10 md:bg-gray-100 rounded-md md:border border-gray-300 text-center flex flex-col">
        <h2 class="font-semibold text-2xl">Welcome to Storiez</h2>    
        <p class="text-left my-4">You have successfully created   account</p>
        <a href="/" class="px-2 py-3 text-white bg-black rounded-md text-sm mb-2">Continue</a>
    </div>
</body>
</html>